/* 이미지 로고 */
img {
    width: 248px; /* 너비 248px */
    height: 75px; /* 높이 75px */
    margin-bottom: 40px; /* 아래쪽 여백 40px */
    margin-top: 150px; /* 위쪽 여백 40px */
}

h2 {
    margin-bottom: 40px; /* 아래쪽 여백 30px */
    color: #B51B75;
}

h3{
    margin: 0;
    padding: 0;
}

p{
    font-size: 20px;
    margin-bottom: 40px;
}

/* form 안 전체를 감싸는 div */
#find-div {
    max-width: 800px; /* 최대 너비 800px */
    width: 100%; /* 너비 100% */
    margin-top: 20px; /* 위쪽 여백 20px */
    display: flex; /* 플렉스박스 사용 */
    justify-content: center; /* 중앙 정렬 */
    align-items: center; /* 중앙 정렬 */
    margin-bottom: 40px; /* 아래쪽 여백 40px */
}

/* 아이디 보여줄 div */
#findId-div {
    display: flex; /* 플렉스박스 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 중앙 정렬 */
    min-width: 500px; /* 최소 너비 500px */
    margin-bottom: 50px; /* 아래쪽 여백 50px */
}

/* 체크박스 */
input[type=checkbox] {
    transform: scale(1.5);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;
    transition: background 0.2s;
    outline: none;
}

/* 인풋 ㅊㅔ크박스 옆 글 */
label {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

/* 누르면 검은색 원 */
input[type="checkbox"]:checked {
    background: #000000;
    border: 0.8px solid black;
    transform: scale(1.0);
    outline: none;
}

/* 이전 다음 버튼 영역 */
.insert-member-div {
    display: flex; /* 플렉스박스 사용 */
    justify-content: right; /* 오른쪽 정렬 */
    margin-bottom: 150px; /* 아래쪽 여백 150px */
}

/* 버튼 상세 스타일 */
.insert-member-div > button {
    min-width: 70px; /* 최소 너비 70px */
    min-height: 40px; /* 최소 높이 40px */
    margin-left: 10px; /* 왼쪽 여백 10px */
    border: none; /* 테두리 없음 */
    border-radius: 10px; /* 테두리 반경 10px */
    background-color: #640D6B; /* 배경색 #640D6B */
    color: white; /* 글자색 흰색 */
}
