/* 광고배너 */
.image-container {
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    margin-bottom: 80px; /* 아래쪽 여백을 설정합니다. */
}

/* 광고배너 이미지 */
.image-container img {
    width: 1240px; /* 너비를 지정합니다. */
    height: 300px; /* 높이를 지정합니다. */
}

/* 비밀번호 보여주기 버튼 이미지 */
#pwdImg {
    position: absolute; /* 이미지의 위치를 설정합니다. */
    right: 10px; /* 오른쪽에서 10px만큼 떨어진 위치에 배치합니다. */
    top: 50%; /* 부모 요소의 위쪽에서 50%만큼 떨어진 위치에 배치합니다. */
    transform: translateY(-50%); /* 수직 방향으로 자신의 높이의 절반만큼 위로 이동합니다. */
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 것임을 나타냅니다. */
    width: 24px; /* 이미지의 너비를 지정합니다. */
    height: auto; /* 이미지의 높이를 자동으로 설정합니다. */
}


/* 정보입력 제목 */
h1 {
    text-align: left; /* 왼쪽 정렬합니다. */
    padding-left: 60px; /* 왼쪽에 패딩을 줍니다. */
}

/* 정보입력 소제목 */
h2 {
    margin: 0; /* 마진을 제거합니다. */
    padding: 0; /* 패딩을 제거합니다. */
}

/* 수평선 */
hr {
    margin: 0 auto; /* 중앙 정렬합니다. */
    width: 1230px; /* 너비를 설정합니다. */
    border-color: black; /* 테두리 색상을 지정합니다. */
    padding-bottom: 80px; /* 아래쪽 패딩을 설정합니다. */
}

/* 폼 전체를 감싸는 div */
form {
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    margin-bottom: 50px; /* 아래쪽 여백을 설정합니다. */
}

/* 정보입력 감싸는 div */
.insert-member {
    max-width: 600px; /* 너비를 지정합니다. */
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    width: 100%;
}

/* 테이블 스타일 */
.insert-member-table {
    width: 100%; /* 테이블의 너비를 부모 요소에 맞춥니다. */
}

/* 입력창 제목 */
.insert-member-table th{
    padding: 10px; /* 셀 내부에 패딩을 추가합니다. */
    text-align: left; /* 텍스트를 왼쪽 정렬합니다. */
    min-width: 120px; 
}

/* 입력창 내용 */
.insert-member-table td{
    padding: 10px; /* 셀 내부에 패딩을 추가합니다. */
    text-align: left; /* 텍스트를 왼쪽 정렬합니다. */
}

/* 셀렉트 박스 */
select.box {
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춥니다. */
    box-sizing: border-box; /* 박스 모델을 변경합니다. */
    border-radius: 4px; /* 테두리를 둥글게 만듭니다. */
    border: 1px solid #d9d6d6; /* 테두리 색상을 지정합니다. */
    color: #383838; /* 글자 색상을 지정합니다. */
    background-color: #ffffff; /* 배경 색상을 지정합니다. */
    font-family: 'Montserrat', 'Pretendard', sans-serif; /* 폰트를 지정합니다. */
    margin: 0 5px; /* 좌우 여백을 줍니다. */
    height: 40px; /* 높이를 추가합니다. */
}

/* 셀렉트 박스 옵션 */
select.box option {
    font-size: 16px; /* 글자 크기를 지정합니다. */
}

/* 테이블 안에 */
span{
    display: flex; /* Flexbox 레이아웃을 사용합니다. */
    justify-content: center; /* 수평 가운데 정렬합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    margin-right: 15px;
}

/* 닉네임 체크 버튼 */
.check_nickname {
    border: 2px solid black; /* 테두리를 지정합니다. */
    height: 40px; /* 높이를 지정합니다. */
    width: 100%; /* 너비를 120px로 지정합니다. */
    background-color: #ffffff;
    border-radius: 10px;
}

/* 아이디 체크 버튼 */
.check_userId {
    border: 2px solid black; /* 테두리를 지정합니다. */
    height: 40px; /* 높이를 지정합니다. */
    width: 100%; /* 너비를 120px로 지정합니다. */
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 65px;
}

/* ID가 "passwordMessage"인 요소에 적용되는 스타일입니다.
   이 요소는 비밀번호 일치 여부 메시지를 표시하는 역할을 합니다. */
   #passwordMessage {
    font-weight: bold; /* 글꼴을 볼드체로 설정합니다. */
    font-size: 16px; /* 글꼴 크기를 16px로 설정합니다. */
}

/* 비밀번호가 일치할 때 적용되는 클래스입니다.
   비밀번호가 일치할 때 메시지가 초록색으로 표시됩니다. */
.passwordCorrect {
    color: green; /* 글꼴 색상을 초록색으로 설정합니다. */
}

/* 비밀번호가 일치하지 않을 때 적용되는 클래스입니다.
   비밀번호가 일치하지 않을 때 메시지가 빨간색으로 표시됩니다. */
.passwordIncorrect {
    color: red; /* 글꼴 색상을 빨간색으로 설정합니다. */
}


/* 인증번호 전송 인증확인 우편번호 버튼 */
.check_button {
    border: 2px solid black; /* 테두리를 지정합니다. */
    height: 40px; /* 높이를 지정합니다. */
    width: 100%; /* 너비를 120px로 지정합니다. */
    background-color: #ffffff;
    border-radius: 10px;
    min-width: 68px;
}

/* 생년월일 */
input[type="date"]{
    width: 100%;
}

/* 중복결과 숨기기 */
#checkResult{
    display: none;
}

/* 모든 input text 필드 */
input[type="text"] {
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춥니다. */
    height: 40px; /* 높이를 지정합니다. */
    border: none; /* 테두리를 제거합니다. */
    border-bottom: 1px solid #000; /* 하단에만 테두리를 추가합니다. */
    margin: 0; /* 마진을 제거합니다. */
    outline: none;
}

/* 모든 input password 필드 */
input[type="password"] {
    width: 100%; /* 너비를 100%로 설정하여 부모 요소에 맞춥니다. */
    height: 40px; /* 높이를 지정합니다. */
    border: none; /* 테두리를 제거합니다. */
    border-bottom: 1px solid #000; /* 하단에만 테두리를 추가합니다. */
    margin: 0; /* 마진을 제거합니다. */
    outline: none;
}

/* 생년월일 컨테이너 */
.birthdate-container {
    display: flex;
    align-items: center;
}

/* 이메일 컨테이너 */
.email-container {
    display: flex;
    align-items: center;
}

/*  @ */
#email-prefix-shift2{
    margin: 0 10px;
    padding: 10px 0px 0px 0px;
}

/* input fadio 남녀 체크 */
#label-man{
    margin-right: 30px;
    margin-top: 15px;
}
/* input 크기 키우기 */
input[type="checkbox"] {
    transform: scale(1.5); /* 크기 조정 */
    margin-right: 5px; /* 여백 조정 */
}

/* 관심장르(택3) 버튼에 여백 추가 */
.insert-member-table td button {
    margin-right: 15px; /* 오른쪽 여백을 15px로 설정합니다. */
    margin-top: 15px;
}

/* 택3 */
.btn-staez3{
    border: none;
    padding: 0 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    cursor: pointer;
}

/* 클릭된 버튼의 스타일 */
.btn-staez3.selected {
    background-color: #F8D082;
    color: black;
}

/* 이전 다음 */
.insert-member-div{
    display: flex;
    justify-content:right;
    margin-bottom: 150px;
    margin-top: 60px;

}
/* 버튼 상세 */
.insert-member-div > button{
    min-width: 70px;
    min-height: 40px;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: #640D6B;
    color: white;
}
/* 버튼의 기본 스타일 */
.btn-staez3 {
    background-color: #d9d9d9; /* 배경색 */
    color: black; /* 텍스트색 */
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 커서 스타일 */
}

#td-div{
    display: flex;
}

/* 입력값 합친거 안보여주는거 */
#input-value-address,
#input-value-phone,
#input-value-email,
#input-value-genreLike {
    display: none;
}

#phone-suffix1, #phone-suffix2{
    padding-left: 10px;
}

/* 중복체크 */
.checkResult {
    text-align: left; /* 원하는 정렬 방법으로 변경 가능 */
    margin-left: 15px; /* 동일한 위치 정렬을 위한 간격 추가 */
    width: 100%; /* 부모 요소의 너비에 맞춥니다 */
}
