<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>POST방식으로 요청해보기</h1>
	<p>
		특징1. POST방식으로 요청시 URL의 BODY영역에 데이터를 포함시켜 넘긴다.<br>
		=> 사용자가 입력한 값(데이터)들이 url에 노출되지 않는다. <br>
		=> 보안유지가 가능하다 <br>
		=> 즉, 로그인이나 회원가입 같은 경우 POST방식에 적합함
		
		특징2.Body영역은 전송하는 길이에 제한이 없다. 
        => 즉, 게시판작성같은 경우 POST방식이 적합하다. <br><br>

        특징3. 즐겨찾기는 가능하나 데이터가 url에 노출되어있지 않다.
        =>즉, 기존에 봤던 응답화면을 볼 수 없을 수 있다. <br>
        =>즉, 검색 기능 같은 경우 POST방식에 부적합 하다. <br>

        특징4. Time out이 존재하기 때문에 페이지요청, 기다리는 시간이 있다.
	</p>

    <h2>개인정보입력</h2>

    <!-- test2.do 서블릿을 생성하고 post메서드에서 System.out.println("post요청 성공")-->
    <!-- (파일이름은) RequestPostServlet.java -->

	<form action="/1_servlet/test2.do" method="POST">
        <!-- ""안에있는게 절대 경로이다. 이유는 / 으로 시작하니깐 -->
        <ul>
            <li>
                이름 : <input type="text" name="name">
                <!-- name은 꼭 써줘야된다 나중에 키값이 된다 -->
            </li>
            <li>
                성별 :
                <input type="radio" name="gender" value="M">남자
                <input type="radio" name="gender" value="W">여자
            </li>
            <li>
                나이 : <input type="number" name="age">
            </li>
            <li>
                거주지 : 
                <select name="city">
                    <option>서울</option>
                    <option>경기</option>
                    <option>강원</option>
                    <option>충청</option>
                    <option>경상</option>
                    <option>전라</option>
                    <option>제주</option>
                </select>
            </li>
            <li>
                키 : <input type="range" name="height" min="140" max="200">
            </li>
            <li>
                좋아하는 음식(모두 고르시오) :
                <input type="checkbox" name="food" value="한식"> 한식
                <input type="checkbox" name="food" value="중식"> 중식
                <input type="checkbox" name="food" value="일식"> 일식
                <input type="checkbox" name="food" value="양식"> 양식
                <input type="checkbox" name="food" value="분식"> 분식
            </li>
            <li>
                <input type="submit">
                <input type="reset">
            </li>
        </ul>
    </form>
</body>
</html>