<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- 
  * web.xml파일
  	- 해당 웹 에플리케이션을 구동시키는 서버 start시 제일 먼저 읽혀지는 파일
  	- 배포서술자라고 해서 해당 웹 애플리케이션의 기본적인 설정들을 작성하게된다
  	- 개발자가 web.xml을 수정하지 않고도 개발 및 운영이 가능하다
  	서비스 규모가 커지면 다양한 filter, servlet, wrapper등등 사용하고자 할때 수정하면 된다.
  -->
  
  
  
  <display-name>1_servlet</display-name>
  
  <!-- welcome-file-list 
  		url로 해당 애플리케이션의 루트로 요청시 제일 먼저 보여지게되는 메인페이지
  		http://구동중인서버의ip:포트번호/애플리케이션contextpath(컨텍스트패스)
  		http://localhost:8888/1_servlet
  		
  		단, 해당 welcomefile들은 webapp/에 위치해있어야 찾아서 보여진다.
  -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>